$color-principal: rgb(255, 255, 255);
$font-family: 'Source Sans Pro';
$secondary-color: rgb(241, 241, 241);
$font-family2: 'Merriweather';
$buttom-color: rgb(105, 105, 105);
$carousel-control-color: black;